.new__container-catalog {
    justify-content: flex-start;
}


@media screen and (max-width: 640px){
    .new__container-catalog {
        padding: 0 0 0 5%;
    }
}

@media screen and (max-width: 420px){
    .new__container-catalog {
        padding: 0;
    }
}