.instagram__marinewool {
    font-family: "Amatic SC", Arial, sans-serif;
    font-size: 55px;
    color: #339999;
    line-height: 69px;
    font-weight: 700;
    padding-top: 1%;
    margin: 0;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .instagram__marinewool {
        font-size: 42px;
        line-height: 48px;

    }
}