.new__arrow {
    position: absolute;
    top: 46.7%;
    right: 16px;
}
@media screen and (max-width: 600px){
    .new__arrow {
        right: 2%;
        top: 45.7%;
        width: 7px;

    }
}

@media screen and (max-width: 420px){
    .new__arrow {
        right: 29%;
        top: 49.7%;
        width: 12px;

    }
}
@media screen and (max-width: 320px){
    .new__arrow {
        right: 23%;
        top: 53.7%;

    }
}

@media screen and (max-width: 420px){
    .news__arrow {
        right: 27%;
        top: 50.7%;
        width: 12px;
    }
}
