.header__info-active {
    position: absolute;
    background-image: url(../../../images/ellipse-red.svg);
    top: 6px;
    left: 7px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    padding-top: 4px;
}

@media screen and (max-width: 800px){
    .header__info-active {
        top: 8px;
        left: 8px;
    }
}
@media screen and (max-width: 420px){
    .header__info-active {
        top: 8px;
        left: 19px;
    }
}