.card__image {
    width: 383px;
    margin: 0 0 0 16px;
}
@media screen and (max-width: 480px){
    .card__image {
       margin: 0;
    }
}
@media screen and (max-width: 550px){
    .card__image {
        width: 250px;
        margin: 0 0 0 16px;
    }
}
@media screen and (max-width: 520px){
    .card__image {
        width: 470px;
        margin: 0;
    }
}
@media screen and (max-width: 480px){
    .card__image {
        width: 410px;
        margin: 0;
    }
}


@media screen and (max-width: 420px){
    .card__image {
        width: 282px;

    }
}

