.news__calendar {
    background-image: url("../../../images/calendar.svg");
    position: absolute;
    background-color: transparent;
    background-size: 11px;
    background-repeat: no-repeat;
    top: 74%;
    left: 10%;
    z-index: 10;
    background-position: left;
}


@media screen and (max-width: 1024px){
    .news__calendar {
        top: 66%;
        left: 10%;
    }
}


@media screen and (max-width: 800px){
    .news__calendar {
        top: 62%;
        left: 5%;
    }
}
@media screen and (max-width: 600px){
    .news__calendar {
        top: 65%;
        left: 5%;
    }
}
@media screen and (max-width: 420px){
    .news__calendar {
        top: 73%;
        left: 5%;
    }
}
